<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <h3>Edit Quote</h3>
    <form action="/quotes/{{quote.id}}/update" method="POST">
        {% csrf_token %}
        {% for message in messages %}
        <p class="text-muted small">{{ message }}</p>
        {% endfor %}
        <label for="quoted_by">Quoted By</label>
        <input type="text" name="quoted_by" id="quoted_by" class="form-control" value="{{quote.quoted_by}}">
        
        <label for="message">Message</label>
        <input type="text" name="message" id="message" class="form-control" value="{{quote.message}}">
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>



